{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  {% if title %}
  <title>My Gallery - {{title}}</title>
  {% else %}
  <title>Gallery </title>
  {% endif %}

  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Bowlby+One+SC|Monoton|Oleo+Script|Ultra&display=swap" rel="stylesheet">
  {% endblock %}
</head>

<body style="background-color: black">
  {% include "navbar.html" %}

  {% block content %}

  {% endblock %}

  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="static/js/scripts.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {% bootstrap_javascript %}
  {% endblock %}
</body>

</html>