{% extends 'base.html' %}

{% block content %}
{{block.super}}
<div class="container-fluid" style="background-color:black;">
  <div class="row">
    {% for image in images %}

    <div class="col-md-3 col-sm-3 col-xs-3">
      <img src="{{image.image.url}}" class="img-responsive img-fluid img-thumbnail" style="width: 100%;height:auto"
        data-toggle="modal" data-target="#{{ image.id }}" data-backdrop="false">
    </div>

    <!-- Modal -->
    <div class="modal fade right" id="{{ image.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">

      <div class="modal-dialog modal-full-height modal-right" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h3 class="modal-title w-100 text-center" id="imagetitle"> {{image.image_name}}</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body ">
            <img class="card-img-top img-responsive" id="img{{image.id}}" src="{{image.image.url}}"
              alt="Card image cap">
            <p class="card-text photo ">Photo description : {{image.image_description}}.</p>
            <p class="card-text shot">Taken in: {{image.image_location}}</p>
            <p class="card-text cate">Category: {{image.image_category}}</p>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 padding-1 ">
              <input id="link" class="form-control input-md responsive" type="text"
                value="https://cynthiagallery.herokuapp.com{{image.image.url}}">
            </div>
            <button type="button" class="btn btn-primary" onclick="copyaction()">Copy Link</button>
          </div>

          <div class="modal-footer text-center">
            <button type="button" class="btn btn-success btn-center" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>
{% endblock %}